@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
:root{
    font-size: 62.5%;
}
html {
    font-family: 'Roboto';
}
body {
    background: #f9f9f9;
    height: 100vh;
}
input {
    padding-left: 1rem;
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: 21.8rem 1fr;
    grid-template-rows: 5.6rem auto;
    grid-template-areas: 
        "header header"
        "aside main";
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2.4rem;
    height: 5.6rem;
    background: #fff;
    grid-area: header;
}
.header .menu {
    display: flex;
    align-items: center;
    gap: 3.2rem; 
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.search {
    display: flex;
    width: 37rem;
    height: 40px;
    border: 1px solid #CCC;
    border-radius: 6px;
}
.btn-search {
    background: #f8f8f8;
    border-left: 1px solid #CCC;
    border-radius: 0 6px 6px 0;
    padding-inline: 1rem;
}

.actions {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}
.actions .avatar {
    display: block;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
}

.aside {
    grid-area: aside;
    padding: 2.4rem;
    background: #fff;
    height: 100%;
}
.aside .action-list {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}
.aside .action-list a {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.aside .action-list a.active,
.aside .action-list a:hover {
    font-weight: 600;
}

.main {
    grid-area: main;
    padding: 2.4rem;
}
.main .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.4rem;
}
.main .content .card {
    padding: 1.6rem;
}
.main .content .card a > img {
    display: block;
    width: 100%;
    margin-bottom: 1.6rem;
    border-radius: 4px;
}
.main .content .card .card-description {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.main .content .card .card-description h3,
.main .content .card .card-description span {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.main .content .card .card-description span {
    color: #515151;
    font-weight: 400;
    display: block;
}
